*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#back{
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    background-position: center;
}

#overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.877);
}

#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#ffff;
    text-align: center;
}

#content h1{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 75px;
    letter-spacing: 10px;
    margin-top: 5px;
}

#content p{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
}

#content button{
    padding: 12px 50px;
    margin-top: 10px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

#content button:hover{
    cursor: pointer;
    background-color: transparent;
    color: rgb(241, 210, 28);
    border-color: rgb(241, 210, 28);
}
